<footer class="page-footer teal darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Pet-Pat Grooming Services</h5>
                <p class="grey-text text-lighten-4">Your pet deserves the best care. Our professional groomers are here
                    to pamper your furry friends.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons tiny">phone</i> (123)
                            456-7890</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons tiny">email</i>
                            info@petpat.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons tiny">location_on</i> 123
                            Main St, Anytown</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © <%= new Date().getFullYear() %> Pet-Pat Grooming Services
                <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
        </div>
    </div>
</footer>